* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.widget-container {
  margin-right: 320px;
  padding: 20px;
  max-width: 550px;
  min-width: 300px;
}
#form {
  margin-top: 25px;
}
.options {
  padding: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 260px;
  top: 0;
  background-color: rgba(191, 191, 191, 0.15);
}
.caption {
  font-size: 18px;
  font-weight: 500;
}
.option {
  margin-top: 10px;
}
.center {
  margin: auto;
  width: 80%;
  border: 1px solid #0d89ec;
  padding: 50px;
  margin-bottom: 50px;
}
.center1 {
  margin: auto;

  border: 1px solid #0d89ec;
  padding: 0px;
  margin-bottom: 50px;
}

.pill {
  padding: 5px;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 500;
  border-radius: 5px;
}
.unqualified {
  background: rgb(255, 195, 195);

  color: red;
}
.qualified {
  background: rgb(137, 247, 135);
  color: green;
}
.proposal {
  background: rgb(243, 243, 146);
}
.new {
  background: rgb(142, 142, 255);
  color: white;
}
.renewal {
  background: orange;
  color: white;
}
.negotiation {
  background: orchid;
  color: white;
}
th input {
  width: 100%;
}
.navbar {
  width: 100vw;

  color: white;
  background: #0d89ec;
  margin-bottom: 50px;
  padding: 10px;
}
